# Docker variables
#
# common variables
LANGUAGE_CODE = "en-us"
TIME_ZONE = "UTC"
ALLOWED_HOSTS='[".example.org", "orghost", "127.0.0.1"]'
ALLOWED_CIDR_NETS='["83.97.92.0/22"]'
CSRF_TRUSTED_ORIGINS='["https://*.test-int.example.org", "https://*.uat-int.example.org", "https://*.int.example.org", "https://127.0.0.1"]'
CORS_ALLOWED_ORIGINS='["https://encompass.test-int.example.org", "https://encompass.uat-int.example.org", "https://encompass.int.example.org"]'

# django secret key
SECRET_KEY='12345678-1234-1234-1234-1234567890ab'

# either true or false
DEMO_MODE=false
AUTH_LDAP_ENABLED=false
AUTH_MYSQL_ENABLED=true
DEBUG=false
AUTH_DEBUG=false  # DEBUG, INFO, WARNING, ERROR, CRITICAL

# NGINX variables
ENC_VIEWER_PASSWORD=""  # leave empty to disable authentication for encompass read-only user.
USE_SSL=false
SSL_CERT_PATH="/etc/ssl/private/server.crt"
SSL_KEY_PATH="/etc/ssl/private/server.key"

# MySQL variables
MYSQL_HOST="mysql.example.org"
MYSQL_PORT=3306
MYSQL_DB="encompass"
MYSQL_USER="encompass"
MYSQL_PASSWORD="encompass"
ENC_BOOTSTRAP_ADMIN_PASSWORD=""   # optional, defaults to "admin" when empty
ENC_BOOTSTRAP_VIEWER_PASSWORD=""  # optional, defaults to "viewer" when empty

# ldap variables
LDAP_PROTO="ldaps"
LDAP_PORT=636
LDAP_SERVER="ad.example.org"
LDAP_PROFILE="ad"  # ad | openldap
LDAP_GROUPS_BASE_DN="OU=Groups,OU=IT,OU=EXAMPLE,DC=example,DC=org"
LDAP_USER_BASE_DN="OU=EXAMPLE,OU=Users,OU=EXAMPLE,DC=example,DC=org"
LDAP_BIND_DN="CN=binduser ,OU=EXAMPLE,OU=Users,OU=EXAMPLE,DC=example,DC=org" # empty if anonymous bind is allowed
LDAP_BIND_PASSWORD="binduser" # empty if anonymous bind is allowed
LDAP_GROUP_RDN_ATTR="CN"  # AD often CN, OpenLDAP often cn
LDAP_USER_SEARCH_FILTER=""   # optional override, default depends on LDAP_PROFILE
LDAP_GROUP_SEARCH_FILTER=""  # optional override, default depends on LDAP_PROFILE
LDAP_GROUP_TYPE=""  # optional: ad_nested|ad|groupofnames|posix
LDAP_USER_ATTR_MAP='{"first_name": "givenName", "last_name": "sn", "email": "mail"}'

# git settings (only SSH key-based authentication is supported)
# ssh key must NOT be password-protected
GIT_HOST="prod-git01.example.net"
GIT_REPO_PATH="puppet/enc-data.git"
GIT_REPO_USERNAME="gitlab"
GIT_REPO_BRANCH="main"
SSH_KEY_TYPE="ed25519"  # rsa, ed25519, ecdsa, etc.
GIT_REPO_PRIVATE_SSH_KEY="-----BEGIN OPENSSH PRIVATE KEY-----
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
aaaaa=
-----END OPENSSH PRIVATE KEY-----"
# do NOT change the following 2 variables
GIT_REPO="ssh://$GIT_REPO_USERNAME@$GIT_HOST/$GIT_REPO_PATH"
KEY_FILE="/root/.ssh/id_$SSH_KEY_TYPE"

# puppet environments
FEATURE_BRANCH=false
PUPPET_ENVIRONMENTS='["test", "uat", "production"]'  # with feature branches enabled this variable is ignored
