django-allow-cidr==0.7.1
cryptography==46.0.7
django-auth-ldap==5.3.0
django-cors-headers==4.9.0
Django==6.0.3
gunicorn==25.1.0
markdown==3.10.2
mysqlclient>=2.2.1
PyYAML==6.0.3
requests==2.32.5
# shyaml==0.6.2  # can be used in bash scripts, currently unused
