global
    log     stdout format raw local0
    user    haproxy
    group   haproxy
    maxconn 2000
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s
${AUTH_LIST}
# Frontends
frontend encompass_frontend
    mode http
    bind *:8080
${ENCOMPASS_UI_SSL}
    acl          is_healthcheck path /healthz
    http-request set-log-level silent if is_healthcheck

    http-request del-header X-Haproxy-Proxy
    http-request del-header X-Forwarded-For
    http-request set-header X-Haproxy-Proxy true

    acl         is_static path_beg /static/
    use_backend static_backend if is_static

    default_backend encompass_backend

${HAPROXY_ENC_FRONTEND}
${SQLITE_WEB_FRONTEND}
# Backends
backend encompass_backend
    mode   http
    option httpchk
    http-check send meth GET uri /healthz ver HTTP/1.1 hdr Host localhost
    ${ENCOMPASS_BACKEND}

backend enc_backend
    mode   http
    option httpchk GET /healthz
    server flask unix@/run/enc.sock check

backend static_backend
    mode   http
    option httpchk GET /healthz
    server flask unix@/run/static.sock check

${SQLITE_WEB_BACKEND}
